body {
    background-color: #fff;
}

.user-box {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    top: 40%;
    bottom: 60%;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    padding-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0 0 5px gray;
}

.text-box {
    margin-top: 30px;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.5rem;
}

.action-box {
    display: flex;
    margin-top: 0;
    min-width: 300px;
}

.action-box div {
    display: flex;
    min-width: 50%;
    height: 120px;
    margin-top: 0;
    justify-content: center;
}

.action-box button {
    align-self: flex-end;
    min-width: 40px;
    height: 25px;
    margin: 0;
    font-size: 0.8rem;
    transition: 0.1s;
}

.action-box #right-button {
    border: 1px solid #00000085;
}
